main h3{
    margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}


main{

    position: relative;
    top: 150px;

    margin: auto;
  width: 55%;
  border: 3px solid rgb(86,53,30);
  padding: 5%;
}
