.Messaging{
  font-size: x-large;
  font-style: bold;
  left: auto;
  border-style: groove;
}
.message1{
  border-style: groove;
}
.message2{
  border-style: groove;
}
.message3{
  border-style: groove;
}
.message4{
  border-style: groove;
}
.message5{
  border-style: groove;
}
.message6{
  border-style: groove;
}
.message7{
  border-style: groove;
}
.message8{
  border-style: groove;
}
.message9{
  border-style: groove;
}
.message10{
  border-style: groove;
}
.message11{
  border-style: groove;
}
.message12{
  border-style: groove;
}
.message13{
  border-style: groove;
}
.message14{
  border-style: groove;
}
.message15{
  border-style: groove;
}
.message16{
  border-style: groove;
}
.message17{
  border-style: groove;
}