* {
    box-sizing: border-box;
}

/*CSS FOR THE BODY OF WEB PAGES*/
body {
    display: block;
    background-color: #e8a87c;
    margin:0;
    font-size: 20px;
    font-weight: 400;
}

/*CSS FOR THE HEADER SHARED BY THE WEB PAGES*/
header {
    vertical-align: top;
}

#globalnav {
    background-color: #85dcb0;
    height: 10.5%;
    transition: height ease-in-out 1s;
    position:fixed;
    top:0;
    left:0;
    z-index:900;
    width:100%;
}

#globalnav h1 {
    float: center;
    height: inherit;
    text-align: center;
    font-size: 140%;
    box-shadow;
    width:90%;
    font-size: 200%;
}

#logo {
    background-color: #41b3a3;
    background-position:center;
    float:left;
    width:6.5%;
}
#logo img {
    width:4em;
    margin: .75em;
}

/*CSS SPECIFIC TO LANDING*/
.landnav {
  position: absolute;
  top: 11%;
  left: 33%;
}
/* #landnav and lognav is just the navigation buttons for Landing and Login pages */
.landnav div {
  max-width: 110px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  margin-right: 4.5em;
}
.landnav div button {
  font-size: 30px;
  height: 100px;
  width: 200px;
  background-color: #85dcb0;
  padding: 1em;
}

/*CSS FOR FEATURING CONTRACTORS ON LANDING*/
#landingshowcase {
  position: absolute;
  top:30%;
  left: 35%;
  background-color: #41b3a3;
}
#landingshowcase div {
  display: inline-block;
  margin:1em;
  border: 3px solid black;
  padding:1em;
  background-color: #85dcb0;
}

/*CSS SPECIFIC TO THE LOGIN CONNECTOR PAGE*/
.lognav {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 90%;
}
.lognav div {
  max-width: 110px;
  text-align: center;
  border: 2px solid black;
}
.lognav div button {
  font-size: 30px;
  height: 100px;
  width: 200px;
  background-color: #85dcb0;
}
/*END OF LOGIN/LANDING CSS*/
